@import url(/css-style/style.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    --weight-800: 800;
    --weight-500: 500;
    --font-size-paragraph: 16px;
    --color-white: hsl(0, 0%, 100%);
    --color-gray-500: hsl(0, 0%, 42%);
    --color-gray-950: hsl(0, 0%, 7%);
    --color-yellow: hsl(47, 88%, 63%);

}

body {

    width: 100%;
    height: 100vh;
    font-style: normal;
    font-optical-sizing: auto;
    font-family: "Figtree", serif;
    font-weight: var(--weight-500);
    background-color: var(--color-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    
}